.follow-box  
  - if current_user.faved?(@tour)
    = link_to tour_favorite_path(@tour.id),method: :delete,remote: :true,class:"btn btn-success favorite-btn ml-0" do
      = icon "fa",'book'
      お気に入り登録解除
      = icon "fa",'book'
  - else
    = link_to tour_favorites_path(@tour.id),method: :post,remote: :true,class:"btn btn-success favorite-btn ml-0" do
      = icon "fa",'book'
      お気に入り登録する
      = icon "fa",'book'