-if liked?(@tour)
  = link_to tour_like_path(@tour.id),method: :delete,remote: :true do
    = icon "fa",'heart',class:"like"
  = @likes.count
  = icon "fa",'edit'
  = @comments.count
-else
  = link_to tour_likes_path(@tour.id),method: :post,remote: :true do
    = icon "fa",'heart',class:"dislike"
  = @likes.count
  = icon "fa",'edit'
  = @comments.count