%h3
  ユーザー編集ページ 
= simple_form_for(@user) do |f|
  = f.error_notification
  .form-inputs
    = f.input :username,                       
      required: true,                       
      autofocus: true,                      
      input_html: { autocomplete: "username",class:"form-control" }
    = f.input :email, required: true, autofocus: true,
    input_html: {class:"form-control" }    
    = f.input :password,                                     
      hint: "leave it blank if you don't want to change it", 
      required: false,                                       
      input_html: { autocomplete: "new-password",class:"form-control" }           
    = f.input :user_image, as: :file,
       input_html: { class:"mb-3" } 
  .form-actions
    = f.button :submit, "更新する"
%p.mt-3
  #{link_to "アカウントを削除する","users/#{@user.id}", data: { confirm: "Are you sure?" }, method: :delete}
= link_to "キャンセル", root_path
