- provide(:title, @title)

%section.user_info
  %h1 ユーザー:#{@user.username}
  %span= link_to "マイページへ",user_path
  %p #{@user.tours.count}人のユーザー
%section.stats
  - if @users.any?
    .user_avatars
      -@users.each do |user|
        .user-box
          %h6 
          　ユーザー名：#{user.username}
          %p.m-0
          = link_to("view my profile",user_path(user.id))
          %p.m-0 
          　フォロー:
          = link_to(user.followings.count,followings_user_path(user.id))
          %p.m-0
          　フォロワー:
          = link_to(user.followers.count,followers_user_path(user.id))

  = paginate @users
