%h2.page_title ユーザー登録ページ
= simple_form_for(@user,html: {multipart: true}) do |f| 
  .form-inputs.form_group
    = f.input :username,                       
      required: true,                       
      autofocus: true,                      
      input_html: { autocomplete: "username",class:"form-control" } 
    = f.input :email,                       
      required: true,                       
      autofocus: true,                      
      input_html: { autocomplete: "email",class:"form-control"} 
    = f.input :password,                                                                    
      required: true,                                                                       
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), 
      input_html: { autocomplete: "new-password",class:"form-control" }                                          
    = f.input :image, as: :file
    = f.button :submit, "登録する",
    input_html: { class:" btn btn-primary " } 
  = link_to 'Signin with Google',user_google_omniauth_authorize_path
