.d-flex.justify-content-around.bd-box
  .show-left  
    %h2.page_title.mb-2.text-left
      = @user.username
    %h6
      フォロー:
      = link_to(@user.followings.count,followings_user_path(@user.id))
    %h6
      フォロワー：
      = link_to(@user.followers.count,followers_user_path(@user.id))
  .show-right
    - if @user.image.attached?
      = image_tag(@user.image.variant(resize: '150x150').processed)
.d-flex.justify-content-around.bd-box
  =link_to favorite_user_path(@user.id),class:"links" do
    = icon 'fa','book'
    お気に入りリスト
  = link_to edit_user_path(@user.id),class:"links" do
    = icon 'fa','edit'
    ユーザー編集
  = link_to logout_path, method: :delete,class:"links" do
    = icon 'fa','sign-out-alt'
    ログアウト
= render('relationships/follow_form',user: @user) 
-if @tours.count == 0
  %p.text-center.mt-3 投稿したツアーはありません
-@tours.each do |tour|
  .card.my-1
    .card-body
      %h6.card-title
        = tour.tourname
      %h6.card-subtitle.mb-2.text-muted 
        %small製作者:
        =link_to(tour.user.username,user_path(tour.user.id))
      %p.card-text
        = truncate(tour.tourcontent,separator: '.',lendth:40) do
          =link_to("続きを読む",tour_path(tour.id))
      = link_to "詳細",tour_path(tour.id),class:"card-link links ml-0"
      -if current_user == tour.user
        = link_to "編集",edit_tour_path(tour.id),data: { turbolinks: false},class:"card-link links"
        = link_to "削除","/tours/#{tour.id}",class:"card-link links",method: :delete

