%h2.page_title ツアー作成ページ
= simple_form_for(@tour) do |f|
  = f.error_notification
  .form-inputs.form_group
    %div{:style => "width: 800px;"}
      #map{:style => "width: 800px; height: 400px;"}
    = f.input :tourname,                       
      input_html: { autocomplete: "tourname",class:"form-control" } 
    = f.input :tourcontent,                       
      input_html: { autocomplete: "tourcontent",class:"form-control"}
    = f.input :images,as: :file,multiple: true,
       input_html: { class:"mb-3 form-control" }
    = f.button :submit, "ツアーを作る",
      input_html: { class:" btn btn-primary " } 
