%h2.page_title ツアー作成ページ
= simple_form_for(@tour) do |f|
  = f.error_notification
  .form-inputs.form_group
    = f.label :ツアータイトル
    = f.input :tourname,label: false,placeholder:"(例)大人の隠れ家！鎌倉カフェ巡り",                     
      input_html: { class:"form-control mb-3" } 
    .spots_section
      - @tour.spots.each do |spot|
        = simple_form_for(:menber) do |s| 
          #tour-box.spots_section
            .form-inputs.form_group#spot-box
              %h6.page_title.mb-3.mt-3 出発地点
              = s.label :画像
              = s.input :images, as: :file,
                label: false,input_html: { class:"form-control" }  
              = s.label :場所
              = s.input :spotname,label: false,placeholder:"(例)城崎マリンワールド",                                                               
                input_html: { class:"form-control" }
              = s.label :見どころ
              = s.input :spotcontent,label: false,placeholder:"(例)ペンギンとアシカのショー",                                                                 
                input_html: { class:"form-control" } 
          %h6.page_title 中間地点を増やす
          #add_button
            = icon "fa","plus-square"
          #tour-box.spots_section
            .form-inputs.form_group#spot-box
              %h6.page_title.mb-3 到着地点
              = s.label :画像
              = s.input :images, as: :file,
                label: false,input_html: { class:"form-control" }  
              = s.label :場所
              = s.input :spotname,label: false,placeholder:"(例)井の頭公園",                                                               
                input_html: { class:"form-control" }
              = s.label :見どころ
              = s.input :spotcontent,label: false,placeholder:"(例)豊かな緑と動物たち",                                                                 
                input_html: { class:"form-control" } 
    #map_canvas{:style => "width:100%; height:400px; margin:1rem"}
    = f.label :ツアーの説明
    = f.input :tourcontent,label: false,placeholder:"(例)鳥取県の海産グルメを満喫できるツアーです",                    
      input_html: { autocomplete: "tourcontent",class:"form-control"}
    = f.button :submit, "ツアーを作る",
      input_html: { class:" btn btn-primary " } 
