= form_tag(search_path,:method => 'get') do
  = text_field_tag :search
  = submit_tag 'Search', :tourname => nil
%ul
  - @tours.each do |tour|
    %li
      = link_to tour.tourname, tour
      = tour.created_at
      = tour.tourcontent
    = link_to "編集",edit_tour_path(tour)
    = link_to "削除",tour, method: :delete
