%header
%nav.navbar.navbar-expand-lg
  %a.font-italic.text-secondary.font-weight-bold.navbar-brand{:href => "/"} Tourly
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "Tourlyとは",about_path,class:"nav-link"
      %li.nav-item
        = link_to "Tour一覧",tours_path,class:"nav-link"
      -if check_user_login? 
        .dropdown.dropright
          %button#dropdownMenu1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            = current_user.username
          .dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li.nav-item
            = link_to "tourをつくる",new_tour_path,class:"nav-link　dropdown-item"
            %li.nav-item
            = link_to "マイページ",user_path(current_user.id),class:"nav-link　dropdown-item"
            %li.nav-item
            = link_to "ユーザー情報編集",edit_user_registration_path,class:"nav-link　dropdown-item"
            %li.nav-item
            = link_to "ログアウト",destroy_user_session_path, method: :delete,class:"nav-link　dropdown-item"
      -else
        .dropdown
          %button#dropdownMenu1.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Tourlyを始める
          .dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
            %li.nav-item
              = link_to "login",new_user_session_path,class:"nav-link dropdown-item"
            %li.nav-item
              = link_to "signup",new_user_registration_path,class:"nav-link dropdown-item"

